<% rstatus = getrelaystatus(@lrelay.id) %>
 <% if rstatus == "ON" %>
                <div id="div<%=@lrelay.name%>" class="widget yellow-bg text-center animated flipInY" onClick="return switchrelay(<%= @lrelay.id %>)">
 <% elsif rstatus == "OFF" %>
                <div id="div<%=@lrelay.name%>" class="widget gray-bg text-center animated flipInY" onClick="return switchrelay(<%= @lrelay.id %>)">
 <%end%>
                    <div class="row">
                        <div class="col-xs-4 faa-parent animated-hover">
                            <i class="fa <%=@lrelay.fimage%> faa-bounce fa-5x"></i>
                        </div>
                        <div class="col-xs-8">
                            <h3 class="font-bold no-margins"><%= @lrelay.description %></h3>
                            <small><%= @lrelay.name %></small>
			  <h2 class="m-xs"><strong><%=rstatus%></strong></h2>
                        </div>
                    </div>
                </div>
            </div>
